# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local
.env

# vercel
.vercel

# open-next
.open-next/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
